@import "tailwindcss";

@font-face {
    font-family: 'FunctionTwo';
    src: url('../fonts/FUNCTIONTWO-XBOLD.TTF') format('truetype');
    font-weight: 800;
    font-style: normal;
}

button:hover {
    cursor: pointer;
}
