@import "tailwindcss";

@font-face {
    font-family: 'FunctionTwo';
    src: url('../fonts/FUNCTIONTWO-XBOLD.TTF') format('truetype');
    font-weight: 800;
    font-style: normal;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
}

button:hover {
    cursor: pointer;
}
